{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Articles</h2>
                <p class="w-lg-50">Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            {% for article in articles %}
            <a href="{{ path('app_article_show', {'idArticle': article.idArticle}) }}">
            <div class="col">
                <div class="card"><img class="card-img-top w-100 d-block fit-cover" style="height: 200px;" src="{{ asset("assets/img/")~article.imageArticle }}" />
                    <div class="card-body p-4">
                        <p class="text-primary card-text mb-0">Article</p>
                        <h4 class="card-title">{{ article.titreArticle }}</h4>
                        <p class="card-text">{{ article.descriptionArticle }}</p>
                            <div>
                                <p class="fw-bold mb-0">{{ article.dateArticle ? article.dateArticle|date('Y-m-d') : '' }}</p>
                            </div>
                    </div>
                </div>
            </div>
            </a>


            {% endfor %}
        </div>
    </div>
{% endblock %}
